.modal{
     display: flex;
     position: fixed;
     width: 300px;
     height: 300px;
     justify-content: center;
     align-items: center;
     border: solid 1px #000;
     background:red;
     color: white;

}